body {
  background-color: #23022a;
  margin: 0;
  padding: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 100%;
  line-height: 1.4;
}

.hero-image {
  background-image: url("../archivos/imagenes/pollo2.jpg") !important;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  visibility: visible !important;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar .navbar-brand {
  color: #ffc107;
  font-size: xx-large !important;
}
.navbar-brand .navbar-toggler {
  color: #ffc107;
  border-color: #ffc107;
}
.text-w {
  color: whitesmoke !important;
  text-shadow: 2px 2px 8px #584e03;
  font-size: xx-large !important;
}
.text-p {
  color: #eede05 !important;
  font-size: x-large !important;
}
.visible {
  visibility: visible !important;
}
.img-box img {
  animation: from-right 7 ease 3s;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.carousel-item {
  overflow: hidden !important;
  max-height: 800px !important;
}
