body {
  background-color: #503954;
  margin: 0;
  padding: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 100%;
  line-height: 1.4;
  position: relative;
}

.bground-image {
  background-image: url("../imagenes/pollo2.jpg") !important;
  background-color: none;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
  visibility: visible !important;
}

.navbar {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-menu,
.navbar-brand {
  margin: 0 1rem;
  color: #54025c !important;
  font-size: 3rem;
  border-radius: 50px;
}
.navbar-brand {
  background-color: rgb(245, 241, 181) !important;
}
.patita {
  background-color: none;
  color: rgb(241, 230, 113) !important;
  font-size: 3rem;
}
.btn {
  color: rgb(19, 14, 14) !important;
  background-color: rgb(245, 241, 181) !important;
  font-size: xx-large !important;
}

.navbar-nav {
  background-color: rgb(245, 241, 181) !important;
  border-radius: 50px;
  text-align: center;
}
.navbar-nav-link {
  margin: 5px 10px 5px;
}

#phone {
  font-size: 3.5rem !important;
  --bs-gutter-x: none;
  background-color: rgb(245, 241, 181) !important;
}

#data__form {
  opacity: 0;
  position: absolute;
}

.mo-fire {
  width: 100px;
  height: auto;
  position: fixed;
  left: 85%;
  margin-left: -100px;
  top: 100px;
}
.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative;
}
.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame3.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

/* MEDIAQUERIES PANTALLAS MAS GRANDES */

@media (min-width: 576px) {
  .navbar .navbar-brand {
    color: #ffc107;
    font-size: 4rem !important;
  }
  #navbarSupportedContent {
    margin-top: 50px;
    justify-content: center !important;
  }
  #aboutUs {
    font-size: 24px !important;
  }
  .navbar-collapse {
    justify-content: center;
  }
}
